<div class="container-fluid">
	<div class="menu">
		<div class="row">
		
		<div class="col-4"></div>
		<div class="col-4">
	<div class="content">
<%= link_to "Find coworking spaces", new_coworkingfilter_path, class: "content" %>  
<%= link_to "Suggest", new_coworkingspace_path, class: "content" %>

		</div>
		</div>
		<div class="col-4"></div>
		
		</div>
	</div>
	<hr>
</div>