/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
  require jquery3
 require popper
 require bootstrap
 *= require_self
 */

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "header";
@import "coworkingfilters";
@import "userparams";

html {
    position: relative;
    min-height: 100%;
       
}

body{
	 background: linear-gradient(#fd9800  0%, #fff 100%) no-repeat 50% 50% / 100% 100%;
   height: 100%;
	font-family: 'Cabin', sans-serif;
	color: #2e435e;
	padding-bottom: 80px;
	
}

.footer{
	background: linear-gradient(#fff  0%, #ffd699 100%) no-repeat 50% 50% / 100% 100% !important;
	color: #2e435e;
	font-family: 'Cabin', sans-serif;
	
    padding:30px;
    bottom: 0;
  	height: 80px;
  	position: fixed;
	margin-top: -80px;
  margin: 0 auto;
   width: 100%;
	
	
}

.footer-navigation-list{
	color: #2e435e;
	font-size: 16px;
	font-weight: 700;
	line-height: 30.42px;
	margin: 0;
	padding: 0;
	display: flex;
	list-style-type: none;
	
	justify-content: flex-end;

}

.footer-navigation-list li{
    
    margin-left: 33px;
}

.footer-navigation-list li:last-child{
	margin-right: 0;
}

.footer-navigation-list a{
	color: #2e435e;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.footer-navigation-list a:hover{
	color: #fd9800;

    text-decoration: none;
    cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
}

.reveal {
  width: 380px;
  height: 660px;
  margin: 50px;
  float: left;
}

.open {
  background: url(http://uploadir.com/u/9btuxs9t) 0px 330px, url(http://uploadir.com/u/9btuxs9t) 0px -405px, #42413C;
  background-repeat: no-repeat;
  -webkit-transition: background-position 0.3s ease;
  -moz-transition: background-position 0.3s ease;
  -o-transition: background-position 0.3s ease;
  -ms-transition: background-position 0.3s ease;
  transition: background-position 0.3s ease;
}

.opened {
  background: url(http://uploadir.com/u/9btuxs9t) 0px 660px, url(http://uploadir.com/u/9btuxs9t) 0px -735px, #42413C;
  background-repeat: no-repeat;
}

.reveal p {
  font: 45px/300px Helvetica, Arial, sans-serif;
  text-align: center;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.revealed p {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  cursor: pointer;
}

.content:hover{
  color: #FFFFFF;  
}

.content{
  font-size: 18px;
  margin-top: 5px;  
}

.content-left{
  text-align: center;
  margin-top: 5px;

}

.menu{
  height: 35px;

}