<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
   
   <a class="navbar-brand" href="/">
    <img id="image_logo" src="https://document-export.canva.com/DADWeW4HV6Q/67/thumbnail/0001-1690195282.png" alt="Logo" style="width:100px; height: 80px;">
   </a>
    

    <ul class="navbar-nav ml-auto">
       
<% if user_signed_in? %>
      
         <ul class="dropdown">
       <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Dropdown 
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#"><%= link_to "Find coworking space", new_coworkingfilter_path, remote: true, data: { toggle: 'modal', 'target': '#create'} %></a>
        <a class="dropdown-item" href="#"><%= link_to "Suggest coworking space", new_coworkingspace_path %></a>
        <a class="dropdown-item" href="#"><%= link_to "Log out", destroy_user_session_path, method: :delete %></a>
      </div>
    </li>
    </ul>
<% else %>
    <%= link_to user_session_path, class: "nav-link" do  %>
        <i class="fas fa-sign-in-alt"> Login</i> 
      <% end %>

    <% end %>
     </ul>
    </div>
</nav>
