<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
   
   <a class="navbar-brand" href="/">
    <img id="image_logo" src="https://document-export.canva.com/DADWeW4HV6Q/67/thumbnail/0001-1690195282.png" alt="Logo" style="width:100px; height: 80px;">
   </a>
      

    <ul class="navbar-nav ml-auto">
<% if !user_signed_in? %>
      <%= link_to user_session_path, class: "nav-link" do  %>
        <i class="fas fa-sign-in-alt"> Login</i> 
      <% end %>
<% else %>
      <%= link_to destroy_user_session_path, class: "nav-link", method: :delete do %>
        <i class="fas fa-sign-out-alt"> Logout</i> 
      <% end %>
<% end %>
    </ul>
    </div>
  </div>
</nav>
